body{
	
}

#hackName{
	font-size: 13px;
	margin-left: -15px;
}

#demo{
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
	color: red;
}

#foot{
	background-color: #999999;
	color: white;
    text-align: center;	
}

@media(min-width: 320px){
	#demo{
		font-size: 35px;
	}
}

@media(min-width: 370px){
	#hackName{
		font-size: 18px;
	}
}

@media(min-width: 450px){
	#demo{
		font-size: 50px;
	}
}

@media(min-width: 645px){
	#demo{
		font-size: 70px;
	}
}

@media(min-width: 725px){
	#demo{
		font-size: 75px;
	}
}