body{

}

#demo{
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
	color: red;"
}

#foot{
	background-color: #999999;
	color: white;
    text-align: center;	
}

@media(min-width: 320px){
	#demo{
		font-size: 35px;
	}
}

@media(min-width: 400px){

}

@media(min-width: 450px){
	#demo{
		font-size: 45px;
	}
}

@media(min-width: 590px){
	#demo{
		font-size: 60px;
	}
}

@media(min-width: 700px){
	#demo{
		font-size: 80px;
	}
}